  
/**
 * @name BetterBG
 * @author CloneyInnit#6510
 * @version 6.9
 * @description A alternative to userbg!
 * @source https://github.com/CloneyInnit/UserProfileBG
 * @website None!
 * @invite none at the moment
*/


/*
The backgrounds css.
*/
/*@import url('https://discord-custom-covers.github.io/usrbg/dist/usrbg.css');*/
@import url('https://cloneyinnit.github.io/BetterBG/bg/backgrounds.css');
@import url('https://cloneyinnit.github.io/BetterBG/snippets/modals.css');
@import url('https://cloneyinnit.github.io/BetterBG/snippets/userPopouts.css');

/*
If you want to put any additional CSS, do it here :)
*/